<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	
	<settings>
		<!-- 마이바티스 설정과 관련된 기본 셋팅을 선언 가능 -->
		<!-- 만약에 null로 데이터가 전달되었다면 빈칸이 아닌 NULL로 인식해라 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
	<!-- VO / DTO 객체의 풀 네임을 일반 클래스 명으로 사용하기 위해 
			등록하는 별칭을 선언하는 부분 -->
		<typeAlias type="member.model.vo.Member" alias="member"/>
		<typeAlias type="board.model.vo.Board" alias="board"/>
		<typeAlias type="notice.model.vo.Notice" alias="notice"/>
	</typeAliases>
	
	
	<environments default="firstDev">
	<!-- DataBase 연결할 설정 정보들을 선언 -->
		<environment id="firstDev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
				<property name="username" value="student"/>
				<property name="password" value="student"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- DataBase에 사용되는 쿼리 문장들을 담은 mapper 파일들을 등록 -->
		<mapper resource="mybatis/mappers/member-mapper.xml"/>
		<!-- <mapper resource="mybatis/mappers/notice-mapper.xml"/>
		<mapper resource="mybatis/mappers/board-mapper.xml"/> -->
	</mappers>

</configuration>